@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-midnight text-primary font-sans antialiased overflow-hidden;
  /* overflow-hidden to handle our own scrolling areas */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-midnight;
}

::-webkit-scrollbar-thumb {
  @apply bg-surface-highlight rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary/50;
}
